.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  div{
      &:nth-child(2){
          text-align: center;
      }
      width: 33.33%;
  }
  .button-row a {
    margin-right: 8px;
  }
}
