mat-grid-tile {
  border: 2px solid #673ab7;
  mat-card {
    height: 100%;
    width: 100%;
    margin-top: 1%;
    mat-card-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    div {
      font-weight: bolder;
      cursor: pointer;
      padding: 1px;
    }
   .edit{
     display: flex;
     flex-direction: column;
     mat-icon{
       margin: 5px;
     }
   }
    .Male {
      background-image: url("/assets/businessman.svg");
      background-size: cover;
    }
    .Female {
      background-image: url("/assets/businesswoman.svg");
      background-size: cover;
    }
  }
}
.container {
  padding: 20px;
}
