/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-card-avatar {
  height: 50px !important;
  width: 50px !important;
  border-radius: 1px !important;
}
mat-card-footer {
  font-weight: bolder;
  color: green !important;
  margin: auto !important;
  text-align: center !important;
}
